<div class="bigbox">
<% if notice == "报修单创建成功!" %>
    <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>
    <div class="panel panel-default">
        <div class="alert alert-info" role="alert" style="margin-bottom:2px">报修单详情</div>
    <table class="table">
        <tr>
          <td width="20%">
            <strong>&nbsp;标&nbsp;&nbsp;题&nbsp;:</strong>
          </td>
          <td width="30%">
            <%= @order.title %>
          </td>

          <td width="20%">
            <strong>提交人:</strong>
          </td>
          <td width="30">
            <%= @order.persion %>
          </td>
        </tr>

        <tr>
          <td>
            <strong>联系电话:</strong>
          </td>
          <td>
            <%= @order.phone %>
          </td>

          <td>
            <strong>email:</strong>
          </td>
          <td>
            <%= @order.email %>
          </td>
        </tr>

        <tr>
            <td>
            <strong>故障类型:</strong>
          </td>
          <td>
            <% if @order.org == "网络中心" %>
                <%= '校园网络故障' %>
            <% elsif @order.org == "教务处" %>
                <%= '综合教务系统故障和教学设备故障' %>
            <% elsif @order.org == "后勤部门" %>
                <%= '热水工程设备问题' %>
            <% elsif @order.org == "人事部门" %>
                <%= '人事考核系统问题' %>
            <% else %>
                <%= '财务信息系统问题' %>
            <% end %>
          </td>
          <td>
            <strong>故障位置:</strong>
          </td>
          <td>
            <%= @order.position %>
          </td>
        </tr>

        <tr>
          <td>
              <strong>&nbsp;附&nbsp;&nbsp;件&nbsp;:</strong>
          </td>
          <td colspan="3">
            <% if @order.avatar_file_name != nil %>
                <%= image_tag @order.avatar.url %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>
            <strong>问题描述:</strong>
          </td>
          <td colspan="3">
            <%= @order.text %>
          </td>
        </tr>
    </table>
    </div>

    <% if @order.status != "已提交" %>
    <div class="panel panel-default">
      <div class="alert alert-info" style="margin-bottom:2px" role="alert">维修情况:</div>
      <table class="table">
        <tr>
          <td width="20%">
            <strong>&nbsp;状&nbsp;&nbsp;态&nbsp;:</strong>
          </td>
          <td width="30%">
            <%= @order.status %>
          </td>

          <td width="20%">
            <strong>维修员:</strong>
          </td>
          <td width="30%">
            <%= @order.repairman %>
          </td>
        </tr>
        <tr>
          <td>
            <strong>维修建议:</strong>
          </td>
          <td colspan="3">
            <%= @order.suggestion %>
          </td>
        </tr>
    </table>
    </div>
    
    <% end %>

    <% if @order.status == "已评价" %>
      <div class="alert alert-info" style="margin-bottom:2px" role="alert">总体评价:</div>
      <div class="form-group", >
          <div id="show_star" data-score="<%= @order.score %>"></div>
      </div>

    <% end %>

<%= link_to '返回', orders_path, class: "btn btn-primary" %>
</div>
