<p><%= t('.greeting', :recipient => @resource.email, :default => "您好,#{@resource.email}!") %></p>

<p><%= t('.instruction', :default => "检查到有人请求修改您的密码，您可以通过下面这个链接修改密码.") %></p>

<p><%= link_to t('.action', :default => "修改我的密码"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

<p><%= t('.instruction_2', :default => "如果不是您本人请求的，请忽略这封邮件.") %></p>
<p><%= t('.instruction_3', :default => "除非您访问上面这个链接并新建一个密码，否则您的密码不会被改变.") %></p>
